.sift-science td,
.sift-science td a {
  color: #fff;
}
.sift-caption,
.sift-data span {
  font-weight: bold;
  text-transform: uppercase;
}
.sift-label img {
  margin: 0 3px;
  border: 1px solid #eee;
  vertical-align: bottom;
}
.sift-decision-accept td {
  background-color: #7ac142;
}
.sift-decision-hold td {
  background-color: #f8bb50;
}
.sift-decision-reject td {
  background-color: #f26a2f;
}
